# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.joblib
*.DS_Store

# Envs
.venv/
.env

# Notebooks
.ipynb_checkpoints/
anaconda_projects/

# Data & Artifacts
data/raw/*
data/interim/*
data/processed/*
!data/**/.gitkeep
/models/
*.joblib
*.png
*.txt
models/artifacts/*
models/reports/*
!models/**/.gitkeep
